
/* Oculto estilo por defecto inptu file */
input[type="file"] {
    display: none;
}

/* Cajas de la página de Ajustes */
 .cajaAjustes{
    max-height: 160px;  
    cursor: pointer;
}


@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.snip1361 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 150px;
  max-width: 150px;
  width: 10%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.snip1361 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1361 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1361 figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff;

}
.snip1361 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 p {
  margin: 0 0 10px;
}
.snip1361 h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.snip1361 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1361 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}



.rad{
  
    border-radius: 50%;
}


.color{
  min-height: 100px;
  max-width: 100px;
  min-width: 100px;
cursor: pointer;
  margin:10px;
 
}


.idCap{
  color:#d65d69 !important;
}

.cl{
  color:#4285f4 !important
}
.clr{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-mlADLFGgp2cVcCMjDSHP7PxNeZ0xfgD8pZaDkmOv1a9L8RH4nw) !important;
  background-size: cover;
  /* filter: blur(15px) !important; */
}


.activeL{
  background-color: #e3e3e3;
}

.navL :hover{
  color: #e55a7a !important;
}


#enbiblioteca{
  cursor: pointer;
}
#enfavoritos{
  cursor: pointer;
}

.cl{

  color: #4285f4 !important
}

.lineas{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    min-width: 567px;
}

.dataTables_empty{
    min-width: 700px;
}
#capitulos1_filter{
  margin-left: 100px;

}
/* Muestra/ Oculta resultados */

.mostrar{ display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
    display:none;
}
#showLess:hover {
    color:black;
}