{% extends 'DWESLibrosBundle::layout.html.twig' %}


{% block portada %}
    <!--Intro Section-->
   <div  class="streak streak-photo streak-md  portada " style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');margin-top: 57px;">
            <div class="flex-center mask view intro-3">
                <div class="container my-5 pt-5">

                    <!-- Section heading -->
                    <h3 class="text-center pt-4 pb-3 white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>BIBLIOTECA</strong>
                    </h3>
                    <h6 class="text-center white-text pb-4 font-weight-bold wow fadeIn" data-wow-delay="0.2s">¡Es gratis!</h6>
                    

                </div>
            </div>
        </div> 
            

{% endblock %}

{% block contenido %} 
                  
{% endblock %}
